#homepageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#homepageTitle {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: rgb(34, 39, 104);
}