.singleSurveyContainer {
  width: 1000px;
  margin: 25px;
  padding: 15px;
  border: solid rgb(34, 39, 104);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  line-height: 25px;
  color: rgb(202, 15, 15);
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackHead {
  color: black;
  font-weight: 500;
}

#weekFilter {
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  height: 50px;
  width: 210px;
  margin: 15px 15px 30px 15px;
}

.smallInput {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 0 15px 15px 15px;
}

.filterinput {
  width: 190px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 15px;
}
.filterSection > h3 {
  margin-left: 15px;
}

.filterSection label {
  margin-left: 15px;
}

/* The sidebar menu */
.filterSection {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left: 0;
  background-color: rgb(157, 158, 167); /* Black */
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* Style page content */
.feedbackContainer {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .filterSection {padding-top: 15px;}
  .filterSection a {font-size: 18px;}
}