.singleSurveyContainer {
  width: 1000px;
  margin: 25px;
  padding: 15px;
  border: 0.5px solid #97c4fe;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  line-height: 25px;
  color: rgb(202, 15, 15);
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.feedbackHead {
  color: black;
  font-weight: 500;
}

#weekFilter {
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  height: 50px;
  width: 400px;
  margin: 15px 15px 30px 15px;
}