.inputNews {
  width: 800px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#newsType {
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  height: 50px;
  width: 400px;
}

.news-label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.select {
  padding: 12px 12px 12px 0;
}

.inputContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  bottom: 0;
}

.row {
  width: 1000px;
}

.button-col{
  width: 0;
  margin: 20px;
}
.col-25 {
  width: 10%;
  float: left;
  margin-top: 6px;
}

.col-75 {
  float: left;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.newsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid rgb(34, 39, 104);
  border-radius: 10px;
  width: 1000px;
  margin: 15px 0;
  padding: 0 10px 10px 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.headline {
  margin: 8px 0;
}

.sectionNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

#deleteBtn {
  height: 15px;
  margin: 8px 0;
}

.headlineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
}

.newsIcon {
  height: 50px;
  width: 50px;
  padding: 10px 10px 0 0;
}

#submitNews {
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, rgb(34, 39, 104) 100%);
	background-color:rgb(34, 39, 104);
	border-radius:6px;
	border:1px solid rgb(34, 39, 104);
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}

.errorMessageNews {
  color: red;
}

#createdBy {
  font-size: 0.75rem;
}