.partner {
  text-align: center;
}

#section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .randomBtn{
  display:block;
  padding:0.35em 1.2em;
  border:0.1em solid rgb(0, 0, 0);
  margin: 1rem auto;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:rgb(0, 0, 0);
  text-align:center;
  transition: all 0.2s;
} */

.randomBtn{
  display:block;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, rgb(34, 39, 104) 100%);
	background-color:rgb(34, 39, 104);
	border-radius:6px;
	border:1px solid rgb(34, 39, 104);
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #1570cd;
}

.randomBtn:hover{
  color:#fffdfd;
  background-color:rgb(100, 100, 100);
}

p {
  margin: 0;
}