#selectbox {
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
  position: relative;
  height: 50px;
  width: 400px;
  margin: 30px;
  &:focus, &:active {
    outline: 0;
    border-bottom-color: red;
  }
}

.errorBody{
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    color: black;
}

.error-heading{
    margin: 50px auto;
    width: 250px;
    border: 5px solid #fff;
    font-size: 126px;
    line-height: 126px;
    border-radius: 30px;
    text-shadow: 6px 6px 5px #000;
}

.error-heading img{
    width: 100%;
}

.error-main h1{
    font-size: 72px;
    margin: 0px;
    color: #F3661C;
    text-shadow: 0px 0px 5px #fff;
}

.settingsSection {
  text-align: center;
  margin-top: 70px;
}

.settingsForm {
  text-align: center;
}

.settingsForm ul {
  padding-left: 0px;
}

#settingsHR {
  margin: 50px auto;
  width: 80%;
}