#littlemotivation {
  text-align: center;
}

.usefulFlex{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 5rem;
  padding: 1rem;
  border: solid rgb(34, 39, 104);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  line-height: 25px;
  color: rgb(209, 209, 209);
  background-color: royalblue;
}

.usefulImage {
  width: 100%;
}

.homepageDescription {
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}
